@import "tailwindcss";

:root {
  --background: rgb(255, 255, 255);
  --foreground: #2b3990;
  --accent: #00965e;
  --font-crimson: "Crimson Pro", serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-crimson), system-ui, -apple-system, Arial, sans-serif;
  overflow: auto;
}

.bg-foreground {
  background-color: var(--foreground);
}
.text-foreground {
  color: var(--foreground);
}

.border-foreground {
  border-color: var(--foreground);
}

.text-accent {
  color: var(--accent);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
  position: absolute;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
}
